<body ng-controller="LoginController">
<div ng-if="currentUser">Welcome, {{ currentUser.name }}</div>

<div ng-if="isAuthorized(userRoles.admin)">You're admin.</div>

<div ng-switch on="currentUser.role">
  <div ng-switch-when="userRoles.admin">You're admin.</div>
  <div ng-switch-when="userRoles.editor">You're editor.</div>
  <div ng-switch-default>You're something else.</div>
</div>


<div class="row" ng-controller="adminController">
    

    <div class="col-md-12">
        <input id="Button2" type="submit"  class="btn btn-danger col-lg-offset-4" value="Log Out" ng-click="EditUser()" />
        <h5>Admin Panel</h5>

        <tabset>    
            <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" ng-click="clickTab(tab.template)" disabled="tab.disabled">
                <br/>

            </tab>
        </tabset>



 <div ui-view  >
</div>


    </div>


</div>
    
    </body>