   <body ng-controller="ApplicationController">

<div ng-controller="AdminController">
            <div class="col-lg-12  content">

                <div class="col-lg-12 kpi_container">
                    <form action="" method="post" enctype="multipart/form-data">
                        <div class='form-group  col-lg-offset-5 upload-container' ng-show="upload">
                            <div class="fileUpload has-feedback ">
                                <span class='upload-text '>Upload your  Datasheet<span class="glyphicon glyphicon-upload"></span></span>
                                <input  name="excel_file"  accept=".xlsm,.xlsx,.xls" type="file" class="upload    fileUpload" class=" bnt btn-upload btn-success  " value="Upload" onchange="angular.element(this).scope().fileChanged(this.files);" required="true" />
                            </div>

                        </div>
                         
                    </form> 
                    
                     <div ng-hide="loading">
                      <img src="./images/loading.gif" class="col-lg-offset-4"/>
                         <div class='col-lg-11 text-info' >
                            <div>We are uploading your data,Please Do Not change your view until Success!</div>
                            <progressbar class="progress-striped active" animate="true" max="100" value="progress" type="success"><i><span count-to="KPICount" duration="1" count-from="0"></span>{{progress}} / 100</i></progressbar>
                            
                        </div>
                    </div>
                    <div ng-show="showStatus" class="col-lg-12">
                                
                         
                                <div class="gridStyle col-lg-10"  style="width:1200px"  ng-grid="kpiStatus"   onchange="angular.element(this).scope().updatereson()" >

                                </div>
                      
                        <div class='col-lg-12 text-info' >
                            <div>We are uploading your data,Please Do Not change your view until Success!</div>
                            <progressbar class="progress-striped active" animate="true" max="100" value="progress" type="success"><i>
                                <span count-to="KPICount" duration="1" count-from="progress"></span >progress / 100</i></progressbar>
                            
                        </div>
                        
                               

                   </div>
                    
                                <div ng-show="isProcessing" class="">

                                    
                                    <div class=" selectpicker col-lg-offset-4 col-lg-2 " >
                                        <input type="submit"   class ="btn bnt-kpiConform" value="Confirm"  ng-click="confirm()">
                                    </div>

                                </div>

                       
            </div>
                
        </div>
     <div ng-hide="success" class="col-lg-12 success_image" >
                            <div class="col-lg-6 col-lg-offset-5 "><img class="success_image" style="width:40%" src="./images/tick_green.png" type="image/png">
                                <br>
                            <button type="button" class="btn bnt-kpiConform"  style="width:40%" ng-click="backtohome()">Home</button>
                            </div>
                            
                        </div>
    
    <div ng-hide="errorMessag" class="col-lg-11 success_image" >
                            <div class="col-lg-6 col-lg-offset-5 "><img class="success_image" style="width:40%" src="./images/error.png" type="image/png"><br><br></div>
                           
                            <div class="col-lg-offset-4">
                                <button type="button" class="btn bnt-back" ng-click="backtohome()">Back to Upload</button>
                            </div>
                        </div>
    
       </div>
           
   </body>

