
<!DOCTYPE html>
<!--
<%-- 
    Document   : upload
    Created on : Sep 17, 2015, 11:26:07 AM
    Author     : nizar
--%>

<%@page contentType="text/html" pageEncoding="UTF-8"%>
-->
<html >
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Collect</title>
    </head>
    <body  ng-controller="LoginController" >
        <div login-dialog ng-if="!isLoginPage"></div>
        <div ng-if="currentUser">Welcome, {{ currentUser.user_id }}</div>

<div ng-if="isAuthorized(userRoles.admin)">You're admin.</div><div  class="col-md-1 col-md-offset-11"><a href="#/logout" class="btn btn-danger" ng-click="logout()" >Logout</a>  </div>

<div ng-switch on="currentUser.role">
  <div ng-switch-when="userRoles.admin">You're admin.</div>
  <div ng-switch-when="userRoles.editor">You're editor.</div>
</div>
        <div login-dialog ng-if="!isLoginPage"></div>
        <div ng-controller="PreviewController">
            <div class="col-lg-12  content">

                <div class="col-lg-12 kpi_container">
                    <form action="" method="post" enctype="multipart/form-data">
                        <div class='form-group  col-lg-offset-5 upload-container' ng-show="upload">
                            <div class="fileUpload has-feedback ">
                                <span class='upload-text '>Upload your  Datasheet<span class="glyphicon glyphicon-upload"></span></span>
                                <input  name="excel_file" accept=".xlsm,.xla,.xlsx,.xls,.xlt,.xltm,.xlam,.xlsb,.xltx" type="file" class="upload    fileUpload" class=" bnt btn-upload btn-success  " value="Upload" onchange="angular.element(this).scope().fileChanged(this.files);" required="true" />
                            </div>

                        </div>
                        <div class="kpiNamedropDown" style="">
                            <div class="form-group">

                                <div ng-show="isProcessing" class="">

                                    <div class=" selectpicker col-lg-offset-4 col-lg-6  " >
                                        <div ng-dropdown-multiselect="" options="kpiName" class="selectpicker" selected-model="kpiNamemodel" data-style="btn-primary" ></div>
                                        <br>
                                    </div>
                                    <div class=" selectpicker col-lg-offset-4 col-lg-2 " >
                                        <input type="submit"   class ="btn bnt-kpiConform" value="Confirm"  ng-click="confirm()">
                                    </div>

                                </div>
                            </div>
                            <div ng-show="showStatus" class="col-lg-12">
                                
                         
                                <div class="gridStyle"  style="width:1200px"  ng-grid="kpiStatus"   onchange="angular.element(this).scope().updatereson()" >

                                </div>
                                <div class=" col-lg-offset-4 col-lg-2 " >
                                        <input type="submit"   class ="btn bnt-kpiConform"  value="Submit"  ng-click="forcSubmit()">
                                 </div>

                            </div>
                            
                              
                        </div>
                        <div ng-hide="ShowkpiError" class="col-lg-12 " >
                                  <div class="gridStyle"  style="width:1150px"  ng-grid="kpiError"   onchange="" ><!--angular.element(this).scope().updatereson()-->

                                  </div>
                            <div class=" col-lg-offset-8 col-lg-4 " >
                                <br> 
                                <button type="button" class="btn btn-danger" ng-click="uploadtrue()">Change file</button>
                           
                                <input type="submit"   class ="btn btn-success"  value="Submit"  ng-click="confirm()">
                            </div>
                                
                        </div>
                        <div ng-hide="success" class="col-lg-12 success_image" >
                            <div class="col-lg-6 col-lg-offset-5 "><img class="success_image" style="width:40%" src="./images/tick_green.png" type="image/png">
                                <br>
                            <button type="button" class="btn bnt-kpiConform"  style="width:40%" ng-click="backtohome()">Home</button>
                            </div>
                            
                        </div>
                        
                      

                        <div ng-hide="errorMessag" class="col-lg-11 success_image" >
                            <div class="col-lg-6 col-lg-offset-5 "><img class="success_image" style="width:40%" src="./images/error.png" type="image/png"><br><br></div>
                           
                            <div class="col-lg-offset-4">
                                <button type="button" class="btn bnt-back" ng-click="backtohome()">Back to Upload</button>
                            </div>
                        </div>



                    </form>


                </div>
                




            </div>

             <div ng-hide="loading">
                <img src="./images/loading.gif" class="col-lg-offset-4"/>
                  <progressbar class="progress-striped active" animate="true" max="100" value="progressCount" type="success"><i><span count-to="KPICount" duration="1" count-from="0"></span>{{progressCount}} / 100</i></progressbar>
                            
            </div>


        </div>
    </body>
</html>
